# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Environment
.env
.env.txt
.env.local
.env.development
.env.production

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/
